<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wordpress.thatsmartproduct.baskettracker">

    <!--
 This application is solely meant for leisure. The developer/author/designer shall not be held
 accountable for any liability related to this application now or anytime in the future.
 This software is distributed on an \"AS IS\" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND,
 either expressed or implied. By using this application, you (user) are agreeing to the terms and
 conditions of the author.
 Author signature: wssyed.
 Dated: 2/11/2017.
 To submit suggestions, send your suggestions to nnic590@gmail.com and please be as detailed as
 possible."
 -->


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AboutActivity"
            android:label="@string/about_name"/>
        <activity android:name=".BasketballActivity"
            android:label="@string/basketball"/>
        <activity android:name=".CricketActivity"
            android:label="@string/cricket"/>
        <activity android:name=".SnookerActivity"
            android:label="@string/snooker"/>
    </application>

</manifest>